// Milk
$color-milk-100: #F3F3F0;
$color-milk-200: #E7E7E2;
$color-milk-300: #AFAFA8;
$color-milk-400: #9F9F90;
$color-milk-500: #8F8F80;

// Greys
$color-grey-100: #EEEEEE;
$color-grey-200: #BFBFBA;
$color-grey-300: #72726E;
$color-grey-400: #5D5D55;
$color-grey-500: #4A4A48;

// Mint
$color-mint-100: #A3E5E4;
$color-mint-200: #9AE0DE;
$color-mint-300: #87D2CF;
$color-mint-400: #73C4C1;
$color-mint-500: #60B5B2;

// Rose
$color-rose-100: #E798B2;
$color-rose-200: #E08DA6;
$color-rose-300: #D87C96;
$color-rose-400: #D06A86;
$color-rose-500: #C95976;

// Navy
$color-navy-100: #62859E;
$color-navy-200: #597992;
$color-navy-300: #4A677F;
$color-navy-400: #3C556C;
$color-navy-500: #2D4458;