@use './variables' as *;
@use './reset';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;700&display=swap');

body {
    background: $color-milk-300;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: $color-milk-100;
}